html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, figure {
  padding: 0;
  margin: 0;
}

/**
 * Outline all classes.
 * use like this <html class="s-healthcheck">
 */
.s-healthcheck {

  [class] {
    outline: 5px solid lightgrey;
  }

  /**
   * Outline all BEM Elements.
   */
  [class*="__"] {
    outline: 5px solid grey;
  }

  /**
   * Outline all BEM Modifiers.
   */
  [class*="--"] {
    outline: 5px solid darkgrey;
  }

  /**
   * Outline all Object classes.
   */
  [class^="o-"],
  [class*=" o-"] {
    outline: 5px solid orange;
  }

  /**
   * Outline all Component classes.
   */
  [class^="c-"],
  [class*=" c-"] {
    outline: 5px solid cyan;
  }

  /**
   * Outline all Responsive classes.
   */
  [class*="@"] {
    outline: 5px solid rosybrown;
  }

  /**
   * Outline all Hack classes.
   */
  [class^="_"] {
    outline: 5px solid red;
  }
}

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
  Theme controls how everything looks in Gallery CSS.
*/

.gallery {
  position: relative;
}

.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

.gallery .item:first-of-type {
  position: static;
  pointer-events: auto;
  /*opacity: 1;*/
}

.gallery .item {
  height: 100%;
}

.gallery .control-operator {
  display: none;
}

/* Custom styles */

.gallery {
  height: 70vh;
  box-shadow: 0px 0px 4px 2px #000;
}

.gallery .item:nth-of-type(1) {
  background: url('bg1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.gallery .item:nth-of-type(2) {
  background: url('bg2.jpg') no-repeat center center fixed;
  background-size: cover;
}

.gallery .item:nth-of-type(3) {
  background: url('bg3.jpg') no-repeat center center fixed;
  background-size: cover;
}

.gallery .secondary-controls {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control-button {
  cursor: pointer;
}

.control-button.js-is-active {
  color: rgba(255, 255, 255, 0.8);
}

.superfluous-arrow {
  pointer-events: auto;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  transition: all .25s;
}

.superfluous-arrow:hover {
  transform: scale(1.1);
}

.superfluous-arrow-left {
  float: left;
  margin-left: 3em;
}

.superfluous-arrow-left img {
  margin-top: 5px;
  margin-left: 3px;
}

.superfluous-arrow-right {
  float: right;
  margin-right: 3em;
}

.superfluous-arrow-right img {
  margin-top: 5px;
  margin-left: 7px;
}

.description {
  margin-top: 50px;
  line-height: 1.5;
  font-size: 1.2em;
}

.description-item {
  display: none;
  margin: 0 auto;
  width: 600px;
  color: #4d4d4d;
}

.description-item.js-is-visible {
  display: block;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}

.item.js-is-visible {
  display: flex;
}

.app-title {
  font-family: 'Arial';
  font-size: 3em;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}

.app-title a {
  color: inherit;
}
